<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
		<link rel="stylesheet" href="/style.css">
		<title>Document</title>
	</head>
	<body>
		<nav>
			<h4>Simple app</h4>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/Profile">Mon compte</a></li>
				<li><a href="/auth/logout">Déconnexion</a></li>
			</ul>
		</nav>

		<div class="container mt-4">
			<div class="row">
				<div class="col-4">
					<div class="card">
						<div class="avatar-ctn">
							<img src="/img/profile-img.png" alt="" class="avatar">
						</div>
						<div class="card-body">
							<h5 class="card-title">{{user.name}} </h5>
							<p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id magnam alias ut doloremque accusamus tenetur odit exercitationem dignissimos qui amet quidem nam, sunt inventore debitis minima modi quae fugiat quibusdam.</p>
							<a href="#" class="btn btn-primary">{{user.email}} </a>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="card text-center">
						<div class="card-header">
							Mon profil
						</div>
						<div class="card-body">
							<h5 class="card-title">Salut {{user.name}} </h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, cupiditate. Quasi quod in facere, cupiditate alias porro laudantium error, suscipit enim iusto, soluta non hic autem delectus sed. Nulla, amet.</p>
                            <a href="#" class ="btn btn-primary">Lorem</a>

						</div>
                       
					</div>
				</div>
			</div>

		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
	</body>
</html>
